body,
html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  /* 세로로 배치 */
  flex-direction: column;
  /* 최소 높이를 화면 크기로 설정 */
  /* min-height: 100vh; */
  width: 100%;
}

/* 메인 콘텐츠 (무한 스크롤) */
.mainContent {
  flex-grow: 1; /* 남은 공간을 메인 콘텐츠가 차지 */
  overflow-y: auto; /* 스크롤 가능 */
  padding: 20px;
}

/* 풋터 */
.footerWrapper {
  text-align: center;
  border-top: 1px solid var(--color-red-100);
  /* width: 100%; */
  /* display: flex; */
}
.textContainer > p > a{
  font-size: 2rem;
}
.textContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  font-size: 1.3rem;
  line-height: 13px;
  margin: 0.5rem;
  color: var(--color-gray-800);
  font-weight: bold;

}
.textContainer > div > p {
  padding: 0.5rem;
}
.textContainer > p > a:hover,
.textContainer > div > p > a:hover {
  color: var(--color-red-300);
}

.sourceBox {
  background-color: var(--color-gray-100);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  height: 10rem;
  margin-top: 1rem;
}
.sourceTitle {
  font-size: 1.3rem;
}
.sourceLinkBox {
  display: flex;
  align-items: center;
}
.sourceLink > a {
  display: block;
  margin: 20px;
  height: 0.5rem;
}
.sourceLink > a > img {
  width: 3rem;
  height: 3rem;
}
.sourceLink > a > img:hover {
  filter: brightness(2.2);
  background-color: var(--color-red-300);
}

.sourceLink:nth-child(7) > a > * {
  width: 3rem;
  height: 3rem;
}
