body {
  padding-top: 14rem; /* 헤더 높이만큼 여백 추가 */
}
.wrapper {
  outline: 1px solid var(--color-red-100);
  margin: 0 auto;
  height: 13rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 5fr 1.5fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "logo  loginBar1  loginBar2   info"
    "logo  loginBar1  search     info"
    "logo  hamBtn     linkList   linkList";

  align-items: center;
  justify-items: center;
}

.loginBarContainer,
.logoContainer,
.hamBtnContainer,
.searchContainer,
.myContainer {
  display: flex;
  align-items: center;
}

.loginBarContainer {
  grid-area: loginBar1;
  height: 4rem;
  margin: 3rem 0 0 0;
  font-size: 1.3rem;
}
.loginBarContainer > a {
  padding: 1.5rem;
  cursor: pointer;
}

.loginBarContainer > a:hover,
.myPage:hover,
.myCart:hover {
  color: var(--color-red-400);
}

.logoContainer {
  grid-area: logo;
  height: 14rem;
  margin-top: -8rem;
}
.logoContainer > .logoFig > a {
  display: block;
  height: 100%;
  width: 100%;
}
.logoFig > a > img {
  width: 13rem;
  height: 13rem;
}
.logoFig > a > img:hover {
  height: 13rem;
  outline: 2px solid var(--color-red-200);
}

.hamBtnContainer {
  grid-area: hamBtn;
  height: 14rem;
  color: var(--color-red-400);
  position: relative;
  margin-left: 3rem;
}
.hamBtn > a > img {
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  top: 100px;
  left: 10px;
  margin-top: -7.5rem;
}


.searchContainer {
  grid-area: search;
  cursor: pointer;
  margin-bottom: -1rem;
}
.searchInput {
  outline: 1px solid var(--color-red-200);
  transition: border-width 0.3s ease;
  border-radius: 4px 0 0 4px;
}
.searchInput:hover {
  outline: 2px solid var(--color-red-200);
  border-radius: 4px 0 0 4px;
}
.searchInput {
  width: 40rem;
  height: 5rem;
  padding: 2rem;
}
.searchBtn {
  outline: 1px solid var(--color-red-200);
  height: 5rem;
  border-radius: 0 4px 4px 0;
}
.searchBtn:hover {
  border-radius: 0 4px 4px 0;
  outline: 2px solid var(--color-red-200);
}

.myContainer {
  grid-area: info;
  font-size: 1.2rem;
  margin-bottom: -3rem;
}
.myContainer > img {
  width: 30px;
  height: 30px;
}
.myPage > a,
.myCart > a {
  padding: 2rem;
}
.myPage > figcaption {
  margin-left: 1rem;
}
.myCart > figcaption {
  margin-left: 2rem;
}
.myPage > a > img {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}
.myCart > a > img {
  padding-bottom: 0.3rem;
}


.linkList {
  grid-area: linkList;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: -6.5rem 0 0 -27rem;
  font-size: 1.3rem;
  text-align: center;
}
.linkList .linkListA {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}
.linkList .linkListA:hover {
  color: var(--color-red-400);
  transform: scale(1.1);
}
