body {
height: 100%;
margin: 0;
}

.wrapper {
  border: 1px solid black;

  min-height: 100vh;
  padding: 2rem;
  text-align: center;

}

/* 메인의  무한스크롤 컨텐츠 */
.mainContent {
  flex-grow: 1;  /* 나머지 공간을 채움 */
  overflow-y: auto;  /* 무한 스크롤 콘텐츠 */
}
